body {
  background-color: #F8F7FF; /*or any color of your choosing*/
  text-align: center;
}

.cat{
  text-align: center;
  font-family: fantasy;
}

.hogwartsclasses {
  align-content: center;
}

table {
  border: 1 px solid;
  text-align: center;
}

th {
  border: 1 px solid;
}

td {
  border: 1 px solid;
}
